#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Card styling */

.card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  max-width: 400px;
}

.card-image {
  width: 350px;
  /* Adjust as needed */
  height: 150px;
  /* Adjust as needed */
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.card-content {
  flex-grow: 1;
}

.card-content h2,
.card-content h3 {
  margin: 0;
}

.card-content p {
  margin: 5px 0;
}

ul{
  list-style-type: none;
}

/* Details Card */

.custom-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  width: 300px;
  background-color: #3a3636;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-card-image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.custom-card-content {
  padding: 16px;
}

.user-id {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.user-name {
  font-size: 16px;
  margin: 8px 0;
}

.description {
  font-size: 14px;
  margin: 0;
}
